@media screen and (max-width:1280px){
    #navbar_header{
        padding: 0;
    }
    .container{
        width: 672px;
        padding: 0;
    }
    .navbar_container{
        padding: 0 16px;
        height: 64px;
    }
    .navbar_left_section>img{
        width: 128px;
        height: 32px;
    }
    .navbar_left_section>.links{
        display: none;
    }
    .navbar_right_section>button:first-child,.navbar_right_section>button:nth-child(2){
        display: none;
    }
    .navbar_right_section>img:last-child{
        display: inherit;
    }
    .welcome_content{
        width: 672px;
    }
    .welcome_container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 994px;
        padding: 48px;
        row-gap: 40px;
    }
    .welcome_content>div:nth-child(2) #mobile{
        display: initial;
    }
    .welcome_content>div:nth-child(2) #desktop{
        display: none;
    }
}